body {
    background-color: #eeeeee;
}

.chart {
    background-color: #dddddd;
}

.runallocated {
    background-color: #ffcccc;
    color: black;
}

.rallocated {
    background-color: #bb1111;
    color: white;
}

.dallocated {
    background-color: #1111bb;
    color: white;
}

.dunallocated {
    background-color: #ccccff;
    color: black;
}

.bar {
    margin: 2px;
    font-size: 60%;
    height: 30px;
    padding: 10px;
    text-align: right;
}
